.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #0f273d;
    width: 100%;
    height: 80px;
}

.header-logo {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 90px;
}


.search-container {
    position: absolute;
    top: 15px;
}

.search-panel {
    background-color: rgb(235, 239, 242);
    box-shadow: none;
    width: 280px;
    border-radius: 5px;
    margin: 10px;
    outline: none;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

.search-panel input {
    background: none;
    border: none;
    outline: none;
    text-indent: 5px;
    font-size: 18px;
}

.search-panel:hover {
    background-color: rgb(228, 231, 235);
}

.search-panel:focus {
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(72, 120, 255);
    border-image: initial;
    transition: background-color 0.1s ease-in-out 0s, border 0.1s ease-in-out 0s;
}

.search-panel span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
}

.search-panel-delete {
    cursor: pointer;
}

.search-container-list {
    width: 93%;
    max-height: 328px;
    position: absolute;
    top: 46px;
    left: 3%;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-image: initial;
    border-radius: 0.5rem;
    overflow: hidden;
}

.alert-enter {
    max-height: 0;
}
.alert-enter-active {
    max-height: 328px;
    transition: all 300ms;
}
.alert-exit {

}
.alert-exit-active {
    max-height: 0;
    transition: all 300ms;
}

.search-container-list > ul {

    list-style-type: none;

}

.search-container-list > ul li {
    border: 1px solid #ddd;
    color: black;
    margin-top: -1px; /* Prevent double borders */
    text-decoration: none;
    display: block;
    background-color: rgb(235, 239, 242);
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    border-bottom: 1px solid rgb(228, 231, 235);
}

.search-container-list > ul li:nth-child(n+2):hover {
    background-color: #cecece;
    cursor: pointer;
}

.searchNotFound {
    padding: 10px 12px;
    font-size: 12px !important;
    cursor: default;

}

.searchNotFound:hover {
    cursor: default;
}