.currency-container {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.currency-container hr{
    width: 30%;
}

.back-button{
    margin: 0 auto;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #0f152b;
    padding: 13px 31px;
    width: max-content;
    transition: all 0.5s;
}

.back-button:hover{
    background-color: #12193f;
}